<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Busqueda</title>

</head>
<body>

    {% if recomendaciones %}
        <p><label><b>TE RECOMENDAMOS!</b></label></p>
        <table cellpadding="5px">
            <tr>
                <th><b>Nombre</b></th>
                <th><b>Marca</b></th>
                <th><b>Precio</b></th>
                <th><b>Valoracion Media</b></th>
            </tr>
            {% for item in recomendaciones %}
                    <tr>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.marca }}</td>
                        <td>{{ item.precio }}</td>
                        <td>{{ item.valoracion }}</td>
                    </tr>
            {% endfor %}
        </table>
    <br>
    ------------------------------------------------------------------------------------------
    <br>
    {% endif %}

    <form method="post" action="">
        <p><label>Nombre:</label> <input type="text" name="nombre"></p>
        <p><label>Marca:</label> <input type="text" name="marca"></p>
        <p><label>Precio Max:</label> <input type="text" name="precio_max"></p>
        <input type="submit" name="submit" value ="Buscar">
    </form>
    {% if productos %}

            <table cellpadding="5px">
                <tr>
                    <th><b>Nombre</b></th>
                    <th><b>Marca</b></th>
                    <th><b>Precio</b></th>
                </tr>
                {% for item in productos %}
                    <form method="post" action="">
                        <tr>
                            <td>{{ item.nombre }}</td>
                            <td>{{ item.marca }}</td>
                            <td>{{ item.precio }}</td>
                            <td> <input type="hidden" name="id" value={{ item.id }}></td>
                            <td> <input type="hidden" name="precio" value={{ item.precio }}></td>
                            <td> <input type="hidden" name="nombre" value={{ item.nombre }}></td>
                            <td> <input type="hidden" name="marca" value={{ item.marca }}></td>
                            <td> <input type="hidden" name="proc" value={{ item.proc }}></td>
                            <td> <input type="hidden" name="peso" value={{ item.peso }}></td>
                            <td><input type="submit" name="submit" value="Al carrito!"></td>
                        </tr>
                    </form>
                {% endfor %}
            </table>
        <br>
        ------------------------------------------------------------------------------------------
        <br>
    {% endif %}

    {% if productos_carrito %}
            <p><label>Carrito de la compra:</label></p>
            <table cellpadding="5px">
                <tr>
                    <th><b>Nombre</b></th>
                    <th><b>Marca</b></th>
                    <th><b>Precio</b></th>
                </tr>
                {% for item in productos_carrito %}
                    <form method="post" action="">
                        <tr>
                            <td>{{ item.nombre }}</td>
                            <td>{{ item.marca }}</td>
                            <td>{{ item.precio }}</td>
                            <td> <input type="hidden" name="id" value={{ item.id }}></td>
                            <td><input type="submit" name="submit" value="Eliminar"></td>
                        </tr>
                    </form>
                {% endfor %}
            </table>

            ----------------------------
            <br>
            <label>Total: {{ total }} </label>
            <br>
            ----------------------------
            <br>

            <form method="post" action="">
                <input type="submit" name="submit" value ="Comprar">
            </form>
    {% endif %}


</body>
</html>
