<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Busqueda</title>

</head>
<body>

    <form method="post" action="">
        <p><label>Nombre::</label> <input type="text" name="nombre"></p>
        <p><label>Marca:</label> <input type="text" name="marca"></p>
        <p><label>Precio Max:</label> <input type="text" name="precio_max"></p>
        <button type="submit">Buscar</button>
    </form>
    {% if productos %}
        <form method="post">
            <table cellpadding="5px">
                <tr>
                    <th><b>Nombre</b></th>
                    <th><b>Marca</b></th>
                    <th><b>Precio</b></th>
                </tr>
                {% for item in productos %}
                    <tr>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.marca }}</td>
                        <td>{{ item.precio }}</td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    {% endif %}
</body>
</html>