<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Busqueda</title>

</head>
<body>

    <form method="post" action="">
        <p><label>Nombre::</label> <input type="text" name="nombre"></p>
        <p><label>Marca:</label> <input type="text" name="marca"></p>
        <p><label>Precio Max:</label> <input type="text" name="precio_max"></p>
        <p><label>Tipo de Producto:</label> <input type="text" name="tipo_de_producto"></p>
        <button type="submit">Buscar</button>
    </form>

</body>
</html>