<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Busqueda</title>

</head>
<body>
{% if productos %}
    <table cellpadding="5px">
        <tr>
            <th><b>Id Compra</b></th>
            <th><b>Direccion</b></th>
            <th><b>Peso</b></th>
            <th><b>Total</b></th>
            <th><b>Prioridad</b></th>
        </tr>
        {% for item in productos %}
            <form method="post" action="">
                <tr>
                    <td>{{ item.id_compra }}</td>
                    <td>{{ item.direccion }}</td>
                    <td>{{ item.peso }}</td>
                    <td>{{ item.total }}</td>
                    <td>{{ item.prioridad }}</td>
                    <td> <input type="hidden" name="id_compra" value= {{ item.id_compra }}></td>
                    <td><input type="submit" name="submit" value="Al lote!"></td>
                </tr>
            </form>
        {% endfor %}
    </table>
{% endif %}

{% if productos_lote %}
    <p><label>Lote:</label></p>
    <table cellpadding="5px">
        <tr>
            <th><b>Id Compra</b></th>
            <th><b>Direccion</b></th>
            <th><b>Peso</b></th>
            <th><b>Total</b></th>
            <th><b>Prioridad</b></th>
        </tr>
        {% for item in productos_lote %}
            <tr>
                <td>{{ item.id_compra }}</td>
                <td>{{ item.direccion }}</td>
                <td>{{ item.peso }}</td>
                <td>{{ item.total }}</td>
                <td>{{ item.prioridad }}</td>
                <td>{{ item.id_lote }}</td>
            </tr>
        {% endfor %}
    </table>

    <form method="post" action="">
        <input type="submit" name="submit" value ="Enviar Lote">
    </form>
{% endif %}
</body>
</html>