<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Productos comprados</title>
</head>
<body>
    {% if productos %}

            <table cellpadding="5px">
                <tr>
                    <th><b>Nombre</b></th>
                    <th><b>Marca</b></th>
                    <th><b>Precio</b></th>
                </tr>
                {% for item in productos %}
                    <form method="post" action="">
                        <tr>
                            <td>{{ item.nombre }}</td>
                            <td>{{ item.marca }}</td>
                            <td>{{ item.precio }}</td>
                            {% if item.feedback %}
                                <td> <input type="hidden" name="id" value={{ item.id }}></td>
                                <td><input type="submit" name="submit" value="Escribir feedback"></td>
                            {% endif %}
                                <td> <input type="hidden" name="id" value={{ item.id }}></td>
                                <td><input type="submit" name="submit" value="Devolver producto"></td>
                        </tr>
                    </form>
                {% endfor %}
            </table>
    {% endif %}



</body>
</html>
